*{
    --primary-color: #622eaa;
    --secondary-color: #361366;
}

.ornament {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
}

.ornament-top-left{
    width: 33vw;
    height: 70vh;
    top:-5vw;
    left:-5vw; 
    background-image: url(../images/ornaments/ornamen-top-left.png);
}

.ornament-middle-right{
    width: 25vw;
    height: 60vh;
    top: 35vh;
    right:-18vw; 
    background-image: url(../images/ornaments/ornamen-middle-right.png);
}

.ornament-middle-left{
    width: 20vw;
    height: 30vh;
    bottom:-20vh;
    left:-10vw; 
    background-image: url(../images/ornaments/ornamen-middle-left.png);
}

.ornament-bottom-right{
    width: 38vw;
    height: 16vh;
    right: -3vw;
    bottom: -20vh;
    background-image: url(../images/ornaments/ornamen-bottom-right.png);
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.working-img{
    width: 40vw;
    margin: 20px 0;
    border-radius: 15px;
}

.paragraph-subtitle{
    text-align: center;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: .9em;
    color: #88989d;
    font-weight: 500;
}

.btn-shadow{
    box-shadow: 10px 16px 40px rgba(145, 80, 249, 0.46);
}


@media screen and (max-width: 768px) {
    .ornament-bottom-right{
        width: 50%;
        height: 40px;
        right: -20px;
        bottom: -40px;
        padding: 0;
        margin: 0;
        background-image: url(../images/ornaments/ornamen-bottom-right.png);
    }

    .ornament-middle-left{
        width: 20vw;
        height: 30vh;
        bottom:-5vh;
        left:-10vw; 
        background-image: url(../images/ornaments/ornamen-middle-left.png);
    }

  }