*{
    box-sizing: border-box !important;
}

.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding: 0;
}

.header-menu{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}


.link-nav{
    margin-right: 40px;
    color: #64288c;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
     transition: all 0.3s ease 0s;
}

.link-nav:hover{
    color: #f7045e;
}
