* {
    box-sizing: border-box !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.hero-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-squiggles{
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    z-index: -10;
}

.container-text-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.container-text-img>img{
     width: 40vw;
    height: 680px;
}


.text-titanhack{
    color: #7b2bad;
}


h1, h2, h1 *, h2 * {
    font-family: 'EB Garamond', serif;
}

* {
    font-family: "Montserrat", sans-serif;
    text-align: left;
}