* {
    box-sizing: border-box !important;
}

body{
    margin: 0;
    padding: 0;
 /*   overflow: hidden;*/
}

footer{
    margin-top: 4rem;
    width: 100vw;
    min-height: 400px;
    background-image: url("../images/footer_bg.svg");
    position: relative;
}

.footer__phone{
    position: absolute;
    top: -20%;
    left: 10%;
    width: 80vw;
    max-width: 400px;
}