.section-title-container {
    display: flex;
    margin-top: 15rem;
}

.section-title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    width: 100%;
}

.section-title-box-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    width: 100%;
}

.text{
    margin: 0;
}

.text-background {
    color: #7b2bad;
    z-index: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 10vw;
    text-transform: uppercase;
    opacity: .07;
}

.text-foreground {
    z-index: 2;
    margin-left: -100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.3em;
}

.line {
    width: 40px;
    height: 1px;
    margin-top: 2vh;
    content: '';
    background-color: #ef4b6c;
}

@media screen and (max-width: 767px) {
    .section-title-container {
        margin: 5rem 0 0 0;
    }
}