.section-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
}


.section-background-title {
    color: #7b2bad;
    position: relative;
    top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 7.5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: .07;
}

.section-title {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 0 0 20px;  
}

.section-title:before {
    width: 40px;
    height: 1px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 25%;
    background-color: #ef4b6c;
}
