.cube-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 600px;
}

.icons-container{
	display: flex;	
}

.wrap {
	/*perspective: 800px;
    perspective-origin: 50% 100px;*/
    perspective: none;
	perspective-origin: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cube {
	position: relative;
	width: 350px;
    transform-style: preserve-3d;
    /*animation: spin 5s infinite linear;*/
}


.text-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.cube div {
	position: absolute;
	width: 350px;
    height: 350px;
	background-color: #7b2bad;
	color: #ffffff;
}

.back {
	transform: translateZ(-175px) rotateY(180deg);
}
.right {
	transform: rotateY(-270deg) translateX(175px);
	transform-origin: top right;
}
.left {
	transform: rotateY(270deg) translateX(-175px);
	transform-origin: center left;
}
.top {
	transform: rotateX(-270deg)  translateY(-175px);
	transform-origin: top center;
}
.bottom {
	transform: rotateX(270deg) translateY(175px);
	transform-origin: bottom center;
}
.front {
	transform: translateZ(175px);
}

.test-color{
	background-color: blue;
}

.vertical {
	margin: 0 auto; /* keeps the cube centered */
	transform-origin: 0 200px;
}


@keyframes spin-vertical {
	from { transform: rotateX(0); }
	to { transform: rotateX(-360deg); }
}

@keyframes spin-front-to-back {
	from { transform: rotateY(0); }
	to { transform: rotateY(180deg); }
}

@keyframes spin-front-to-left {
	from { transform: rotateY(0); }
	to { transform: rotateY(90deg); }
}
@keyframes spin-front-to-right {
	from { transform: rotateY(0); }
	to { transform: rotateY(-90deg); }
}

@keyframes spin-top-to-right {
	from { transform: rotateY(0); }
	to { transform: rotateY(-90deg); }
}

@keyframes spin-front-to-up {
	from { transform: rotateX(0); }
	to { transform: rotateX(-90deg); }
}
@keyframes spin-front-to-down {
	from { transform: rotateX(0); }
	to { transform: rotateX(90deg); }
}

@keyframes spin-up-to-front {
	from { transform: rotateX(-90deg); }
	to { transform: rotateX(0); }
}

@keyframes spin-down-to-front {
	from { transform: rotateY(90deg); }
	to { transform: rotateY(0deg); }
}


@keyframes spin-left-to-right {
	from { transform: rotateY(90deg); }
	to { transform: rotateY(-90deg); }
}

@keyframes spin-right-to-left {
	from { transform: rotateY(-90deg); }
	to { transform: rotateY(90deg); }
}

/* animaciones que involucra al back*/
@keyframes spin-back-to-left {
	from { transform: rotateY(180deg); }
	to { transform: rotateY(90deg); }
}

@keyframes spin-back-to-right {
	from { transform: rotateY(180deg); }
	to { transform: rotateY(-90deg); }
}

@keyframes spin-left-to-back {
	from { transform: rotateY(90deg); }
	to { transform: rotateY(180deg); }	
}

@keyframes spin-right-to-back {
	from { transform: rotateY(-90deg); }
	to { transform: rotateY(180deg); }
}



.icons {
    overflow: hidden;
    width: 64px;
    height: 64px;
    margin: -2em;
    z-index: 10;
}

.icons-img{
	display: block;
    width: 64px;
    height: 64px;
}

.deg0 {
    /*-webkit-transform: rotate(11deg) translate(25.7em) rotate(-11deg);
    -moz-transform: rotate(11deg) translate(25.7em) rotate(-11deg);
    -ms-transform: rotate(11deg) translate(25.7em) rotate(-11deg);
    -o-transform: rotate(11deg) translate(25.7em) rotate(-11deg);*/
    transform: rotate(58deg) translate(165px) rotate(-58deg);
} 

.deg45{
	transform: rotate(60deg) translate(300px) rotate(-60deg);
}

.deg90{
	transform: rotate(90deg) translate(425px) rotate(-90deg);
}

.deg135{
	transform: rotate(122deg) translate(300px) rotate(-122deg);
}

.deg180{
	transform: rotate(122deg) translate(170px) rotate(-122deg);
}