/* playfair-display-700 - latin */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: url('./playfair-display-v14-latin-700.woff2') format('woff2'),
    url('./playfair-display-v14-latin-700.woff') format('woff');
}